@import url(./vendor/normolize.css);
@font-face {
    font-family: "Zoloto";
    src: url("./vendor/fonts/Zoloto.otf") format("opentype");
   }

.page {
    background-color: #1C1C1C;
    height: 100vh;
    width: 100vw;
    display: block;
}

.header {
    color: #FFFFFF;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title {
    margin: 0;
    padding: 0;
    font-family: 'Zoloto';
    font-size: 96px;
    font-weight: 400;
    /* padding-top: 45px; */
}

.container {
    height: 80%;

}

.gallery {
    height: 80%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gallery__slide-window_big-row {
    display: block;
    height: 294px;
}

.gallery__slider {
    overflow: hidden;
    height: inherit;
}

.gallery__list {
    height: inherit;
    margin: 0;
    padding: 0;
    display: grid;
    grid-auto-rows: 100%;
    grid-auto-flow: column;
    grid-gap: 15px;
}

.gallery__item {
    width: fit-content;
    overflow: hidden;
    text-decoration: none;
    height: inherit;
}


.gallery__img {
    object-fit: cover;
    max-height: 100%;
    transition: 1s;
    cursor: pointer;
}


.gallery__img:hover {
    transform: scale(1.2)
}


.action-button {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-button__button {
    padding: 8px 60px;
    background-color: #1c1c1c;
    /* max-height: 80%; */
    /* width: 299px; */
    border: none;
    outline: none;
    color: white;
    font-weight: 500;
    /* background-color: white; */
    font-size: 23px;
    /* padding: 0px; */
    box-shadow: 0px 0px 11px rgb(255 255 255 / 50%);
    border-radius: 35px;
    cursor: pointer;
}